body {
  font-family: Arial Black;
  color: #024249;
  margin: 0px;
  padding: 0px;
  background-color: #F7F7F7;
}

.header {

  background-color: #024249;
  color: #D6CBD3;
  font-size: 2vw;
}

@media screen and (max-width: 640px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
  }
  .header-right {
    float: right;
  }
  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (max-width: 960px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and (min-width: 961px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    float: left;
  }
  .header-right {
    float: right;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.link {
  display: flex;
  height: 4vh;
  font-size: 2vh;
  align-items: center;
  justify-content: center;
  margin: 5%;

}

.home-icon {
  height: 12vh;
}

.icon {
  width: 2vh;
  height: 2vh;
  position: relative;
  align-self: center;
}

.login {
  height: 2vw;
  display: flex;
  font-size: 1vh;
  align-items: center;
  justify-content: space-around;
}

.sub-header {
  padding: 1%;
  font-size: 3vw;
}

.cards {
  padding: 1%;
}

.card {
  color: white;
  font-size: 4vw;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-head {
  font-size: 2vw;
  grid-row: 1 / span 2;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: #BC243C;
}

.card2 {
  background-color: #E15D44;
}

.card3{
  background-color: #EFC050;
}

.card4{
  background-color: #009B77;
}

.card5 {
  background-color: #45B8AC;
}

.card6{
  background-color: #98B4D4;
}

.card7 {
  background-color: #5B5EA6;
}

.card8 {
  background-color: #6B5B95;
}

.img-head1 {
  background-image: url("card-images/size3/apple_1920.jpg");
}

.img-head2 {
  background-image: url("card-images/size3/banana_1920.jpg");
}

.img-head3 {
  background-image: url("card-images/size3/cherries_1920.jpg");
}

.img-head4 {
  background-image: url("card-images/size3/dragonfruit_1920.jpg");
}

.img-head5 {
  background-image: url("card-images/size3/elderberry_1920.jpg");
}

.img-head6 {
  background-image: url("card-images/size3/fig_1920.jpg");
}

.img-head7 {
  background-image: url("card-images/size3/grape_1920.jpg");
}

.img-head8 {
  background-image: url("card-images/size3/honeydew_1920.jpg");
}
