body {
  margin: 0px;
  padding: 0px;
  background-color: #D5E1DF;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas:
  "header"
  "sub-header"
  "container";
}

section {
  border: solid;
}

nav {
  border: dotted;
}

.header {
  background-color: #3E4444;
  color: #D6CBD3;
  border: solid;
  height: 100px;
  display: grid;
  height:100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 2vw;
}

.sub-header {
  padding: 1%;
  font-size: 3vw;
}

.container{
  padding: 1%;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "card1 card2 card3 card4"
  "card5 card6 card7 card8"
}

.link {
  display: flex;
  border: 1px dashed;
  justify-content: space-around;
}

.link1 {

}

.link2 {

}

.link3 {

}

.filler1 {
  grid-column: span 5;
}

.filler2 {
  grid-column: span 2;
}

.card {
  color: white;
  font: Times;
  font-size: 4vw;
  text-align: center;
}

.card1 {
  background-color: #BC243C;
}

.card2 {
  background-color: #E15D44;
}

.card3{
  background-color: #EFC050;
}

.card4{
  background-color: #009B77;
}

.card5 {
  background-color: #45B8AC;
}

.card6{
  background-color: #98B4D4;
}

.card7 {
  background-color: #5B5EA6;
}

.card8 {
  background-color: #6B5B95;
}
