body {
  font-family: Arial Black;
  margin: 0px;
  padding: 0px;
  background-color: #D5E1DF;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas:
  "header"
  "sub-header"
  "container";
}

.header {
  background-color: #3E4444;
  color: #D6CBD3;
  border: solid;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 6fr;
  font-size: 2vw;
  align-items: end;
}

.login {
  height: 2vh;
  display: flex;
  font-size: 1vh;
  align-items: center;
  justify-content: space-around;
}

.sub-header {
  padding: 1%;
  font-size: 3vw;
}

.container{
  padding: 1%;
  display: grid;
  height: 100%;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  /* grid-template-areas:
  "card1 card2 card3 card4"
  "card5 card6 card7 card8" */
}

.link {
  display: flex;
  height: 4vh;
  border: 1px dashed;
  font-size: 2vh;
  align-items: center;
  justify-content: space-around;

  /* display: grid;
  grid-gap: 10%;
  grid-template-columns: repeat(5,1fr);
  height: 4vh;
  border: 1px dashed;
  font-size: 2vh;
  align-items: center;
  align-content: space-evenly; */
}

.home-icon {
  height: 12vh;
}

.icon {
  width: 2vh;
  height: 2vh;
  position: relative;
  align-self: center;
  grid-column: 1;
}

.link1 {
  grid-row: 2;
}

.link2 {
 grid-row: 2;
}

.link3 {
  grid-row: 2;
}

.login {
  grid-row: 1;
  grid-column: 6;
}

.home-icon {
  grid-row: 2;
  grid-column: 6;
}

.card {
  color: white;
  font: Times;
  font-size: 4vw;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.img-head {
  font-size: 2vw;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-position: center;
  background-size: cover;
}

.card1 {
  background-color: #BC243C;
}

.card2 {
  background-color: #E15D44;
}

.card3{
  background-color: #EFC050;
}

.card4{
  background-color: #009B77;
}

.card5 {
  background-color: #45B8AC;
}

.card6{
  background-color: #98B4D4;
}

.card7 {
  background-color: #5B5EA6;
}

.img-head1 {
  background-image: url("card-images/size3/apple_1920.jpg");
}

.img-head2 {
  background-image: url("card-images/size3/banana_1920.jpg");
}

.img-head3 {
  background-image: url("card-images/size3/cherries_1920.jpg");
}

.img-head4 {
  background-image: url("card-images/size3/dragonfruit_1920.jpg");
}

.img-head5 {
  background-image: url("card-images/size3/elderberry_1920.jpg");
}

.img-head6 {
  background-image: url("card-images/size3/fig_1920.jpg");
}

.img-head7 {
  background-image: url("card-images/size3/grape_1920.jpg");
}

.img-head8 {
  background-image: url("card-images/size3/honeydew_1920.jpg");
}

.card8 {
  background-color: #6B5B95;
}
