body {
  font-family: Arial Black;
  margin: 0px;
  padding: 0px;
  background-color: #F7F7F7;
}

.header {
  display: flex;
  flex-grow: 2;
  background-color: #024249;
  color: #D6CBD3;
  font-size: 2vw;
}

@media screen and (max-width: 200px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .header-right {
    display: flex;
    flex-direction: column;
  }

  .header-left {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .header-right {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 321px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
}

.link {
  display: flex;
  height: 4vh;
  font-size: 2vh;
  align-items: center;
  justify-content: center;
  margin: 5%;


  /* display: grid;
  grid-gap: 10%;
  grid-template-columns: repeat(5,1fr);
  height: 4vh;
  border: 1px dashed;
  font-size: 2vh;
  align-items: center;
  align-content: space-evenly; */
}

.home-icon {
  height: 12vh;
}

.icon {
  width: 2vh;
  height: 2vh;
  position: relative;
  align-self: center;
}

.login {
  height: 2vw;
  display: flex;
  font-size: 1vh;
  align-items: center;
  justify-content: space-around;
}

.sub-header {
  padding: 1%;
  font-size: 3vw;
}

.container{
  padding: 1%;
  display: grid;
  height: 100%;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  color: white;
  font-size: 4vw;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.img-head {
  font-size: 2vw;
  grid-row: 1 / span 2;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: #BC243C;
}

.card2 {
  background-color: #E15D44;
}

.card3{
  background-color: #EFC050;
}

.card4{
  background-color: #009B77;
}

.card5 {
  background-color: #45B8AC;
}

.card6{
  background-color: #98B4D4;
}

.card7 {
  background-color: #5B5EA6;
}

.card8 {
  background-color: #6B5B95;
}

.img-head1 {
  background-image: url("card-images/size3/apple_1920.jpg");
}

.img-head2 {
  background-image: url("card-images/size3/banana_1920.jpg");
}

.img-head3 {
  background-image: url("card-images/size3/cherries_1920.jpg");
}

.img-head4 {
  background-image: url("card-images/size3/dragonfruit_1920.jpg");
}

.img-head5 {
  background-image: url("card-images/size3/elderberry_1920.jpg");
}

.img-head6 {
  background-image: url("card-images/size3/fig_1920.jpg");
}

.img-head7 {
  background-image: url("card-images/size3/grape_1920.jpg");
}

.img-head8 {
  background-image: url("card-images/size3/honeydew_1920.jpg");
}
